* {
    margin: 0;
    padding: 0;
}

/* Common Styles */




/* Navigation Bar */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    margin-top: 20px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin {
    list-style: none;
    width: 116px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner Section */
.topBanner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.topBanner>div {
    margin-left: 80px;
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 622px;
}

.titles>h3 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.titles>h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.titles>button {
    color: white;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}

.topBanner > .image{
    margin-right: 20px;
}