@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Common Styles */




/* Navigation Bar */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    margin-top: 20px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin {
    list-style: none;
    width: 116px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner Section */
.topBanner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.topBanner>div {
    margin-left: 80px;
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 622px;
}

.titles>h3 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.titles>h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.titles>button {
    color: white;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}

.topBanner>.image {
    margin-right: 20px;
}

/* Pillers */

.pillers {
    margin-top: 80px;
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.pillers>h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.pillers>.container {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;

}

.container>.piller {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 302px;
    height: 244px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
}

.piller>h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.piller>p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* Vision section */


.vision {
    margin-top: 80px;
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.vision>h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.vision>p {
    margin-top: 20px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision>.container {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;

}

.vision>.container>.piller {
    box-sizing: border-box;
    border-radius: 16px;
    width: 410px;
    height: 325px;
}

.container>.dt {
    background: rgba(84, 144, 245, 0.2);
}

.dt>button {
    background: rgb(84, 144, 245);
}

.container > .ge{
    background: rgb(198, 228, 214);
}

.ge > button{
    background: rgb(9, 161, 92);
}

.container > .mi{
    background: rgb(247, 235, 207);
}

.mi > button{
    background: rgb(255, 194, 57)
}

.piller>button {
    /* margin-top: 35px; */
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    width: 130px;
    height: 41px;
    padding: 11px 20px 11px 20px;

}